MONGO_URL=mongodb+srv://deependrajhariya:rW5EFD8OCbiY8v8g@cluster0.egta3xj.mongodb.net/?appName=Cluster0
PORT =3000
CORS_ORIGIN = *

ACCESS_TOKEN_SECRET = Dev_deependa
ACCESS_TOKEN_EXPIRY= 1d

REFRESH_TOKEN_SECRET = Dev_deependa_refresh
REFRESH_TOKEN_EXPIRY = 10d